/*Universal selector to add default padding/margin to all boxes*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    margin: 10px 10px 10px 10px;
}

html {
    background: url(../images/acpng.png);
}

.wrapper {
    background-color: #fff1b3;
    overflow: auto;
    border: #996600 10px dashed;
    padding: 10px;
    margin-top: 20px;
    top: 0;
}

.logo {
    margin-right: 10px;
    text-shadow:2px 2px #ccc;
}

section {
    margin-left: 5px;
}

#introduction {
    margin: 10px 0 0 25px;
}

p {
    font-family:Verdana, Geneva, sans-serif;
    line-height: 1.45;
}

h1>a {
    text-decoration: none;
    color:#000;
}

h1, h2, p {
    margin-bottom: 10px;
}

p ~ h2 {
    margin-top: 20px;
}

aside img, .phone {
    border:#ff6600 5px solid;
    padding: 5px;
    display: block;
}

#profile {
    text-align: center;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
    text-align: center;
    padding: 10px;
}


/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {

   .wrapper {
		width: 80%;
		margin: 20px auto auto auto;
	}

    section {
		width:65%;
		float:left;
	}

     aside {
		width:34%;
		float:right;
	}

    img.desktop {
       		width:65%;
            display:inline-block;
    }

    img.tablet, img.phone {
       	display:none;
    	}

    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #ffaa00;
        		color: white;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {

	section {
		width:50%;
		float:left;
	}
    
    section, #introduction {
        margin: 10px;
    }

	aside {
		width:39%;
		float:right;
	}

    img.tablet {
       		width:100%;
            display:inline-block;
    }

    img.desktop, img.phone {
       	display:none;
    	}


    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ffaa00;
        color: white;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    section, #introduction {
        margin: 5px;
    }

    img.phone {
        margin: 10px;
        float:right;
       	width:50%;
        display:inline-block;
    }

    img.tablet, img.desktop {
       	display:none;
    	}
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ffaa00;
        color: white;
    }
}

}
