* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body {
    font-family: verdana, helvetica, arial, sans-serif;
    background-image: url(/images/acpng.png);
}
        
h1 {
    color:#993d00;
    font-size:40px;
}
        
h2 {
    color:#ff6600;
    font-size:25px;
}
        
h3 {
    color:#ff6600;
    font-size:20px;
}
        
h1, h2, h3 {
    margin-bottom:20px;
}

p {
    margin-bottom:20px;
}

hr {
    margin-bottom:20px;
    margin-top:20px;
}

ul, ol {
    margin-left:20px;
    margin-bottom:10px;
}

img {
    float:right;
    width:200px;
    margin: 0 0 10px 30px;
    border:#ff6600 5px solid;
    margin-left:30px; 
    margin-bottom:10px;
    padding:5px;
}

div#wrapper {
    width:940px;
    margin:0 auto;
    background:#ffd480;
    padding:40px;
    margin-top:40px;
    border:#996600 10px dashed;
}

.topnav {
  background-color: #996600;
  overflow: hidden;
    margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

footer {
    height:50px;
    line-height:50px;
    clear:both;
    border-top:1px dotted #666;
    font-size:.9em;
}

footer li {
    list-style-type:none;
    float:left;
    margin-left:30px;
    color:#666;
    
}

footer ul {
    float:right;
}

footer a {
    color:#666;
}